ul.burgerB4 {
  list-style-image: url('../images/burgerIcon.png');
  }

ul.burgerAfter {
  list-style-image: url('../images/bugerBiteIcon2.jpg');
  }

li {
  padding: 5px;
  margin: 5px;
  background: #ffd480;
}

.label {
  font-weight: bold;
}

.create-update-form {
  padding: 5px;
  margin: 5px;
  background: aqua;
}

.form-group {
  margin-bottom: 5px;
}

html, body {
  background-color: #ffc34d ;
}

h1 {
  color: white;
  font-size: 64px;
}

#newBurger {
}